body{
    background-color: #232946;
    color: #fffffe;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-div{
    padding: 25px;
    display: flex;
    /* gap: 40%; */
    
}

#left{
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  
}

#all-buttons{
    font-size: 30px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px 0px 0px 40%;
}

#container{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border: 5px solid black;
    width: 720px;
    height: 720px;
    margin: 15%;
    border: 10px solid #eebbc3;
    border-radius: 1%;

}

button{
    background-color: #eebbc3;
    color: #232946;
    border-radius: 2%;
    font-size: 32px;
    padding: 10px;
}

#buttonDiv{
    justify-content: space-evenly;
    display: flex;
    /* background-color: #eebbc3; */
    color: #232946;
    font-size: 25px;
}

label{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin: 0px 15%;
}

/* #row,#col{
    box-sizing: border-box;
    flex: 1;
} */


